﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Leeds Trinity Transport Dashboard</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="/static/main.css">

	<!-- first script is for chart.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="main.js"></script>

	<style>

		.ad {
			position: absolute;
			width: 300px;
			height: 250px;
			border: 1px solid #ddd;
			left: 50%;
			transform: translateX(-50%);
			top: 250px;
			z-index: 10;
		}

			.ad .close {
				position: absolute;
				font-family: 'ionicons';
				width: 20px;
				height: 20px;
				color: #fff;
				background-color: #999;
				font-size: 20px;
				left: -20px;
				top: -1px;
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
			}
	</style>
	<script type="text/javascript">
		$(function () {
			$('.close').click(function () {
				$('.ad').css('display', 'none');
			})
		})
	</script>


</head>

<body>
	<div class="header">
		<div class="logo">
			<i class="fa fa-tachometer"></i>
			<span>LTU</span>
		</div>
		<a href="#" class="nav-trigger"><span></span></a>
	</div>
	<div class="side-nav">
		<div class="logo">
			<span><i class="fa fa-university" aria-hidden="true"></i>LTU Transport Dashboard</span>
		</div>
		<nav>
			<ul>
				<li>
					<a href="/index.html">
						<span><i class="fa fa-columns" aria-hidden="true"></i></i></span>
						<span>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="#">

						<span><i class="fa fa-user" aria-hidden="true"></i></i></span>
						<span>User Account</span>
					</a>
				</li>
				<li class="active">
					<a href="#">
						<span><i class="fa fa-question-circle" aria-hidden="true"></i></i></span>
						<span>Survey</span>
					</a>
				</li>
				<li>
					<a href="/login">
						<span><i class="fa fa-cog" aria-hidden="true"></i></i></span>
						<span>Log Out</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="main-content">
		<div class="title">
			Analytics
		</div>
		<div class="main">
			<div class="widget">
				<div class="title">Your weeks travel</div>
				<div class="myChart"></div>

			</div>
			<div class="widget">
				<div class="title">Your all time travel stats</div>
				<div class="chart"></div>
				<img src="{{url_for('static', filename='2D_B_W_Pie_Chart_1.png')}}" width="300" height="250" />
				<!--link for image formating https://stackoverflow.com/questions/28207761/where-does-flask-look-for-image-files-->
			</div>
			<div class="widget">
				<div class="title">How Busy Is The Bus Today?</div>
				<div class="chart"></div>
				<img src="{{url_for('static', filename='bus_data.png')}}" width="300" height="250"/>
			</div>
		</div>
	</div>
	<div class="container">
		<canvas id="myChart"></canvas>
	</div>

	<script>
        let myChart = document.getElementById('myChart').getContext('2d')

        let transportChart = new Chart(myChart, {
            type: 'bar',
            data: {
                labels: ['bus','car','bike'],
                dataset: [{
                    label: 'tranportation',
                    data: [transpo_data.bus,transpo_data.car,transpo_data.bike]
                }]
            },
            options: {}
        })
	</script>

</body>
</html>
