<!DOCTYPE html>
<html lang="en"
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>

  <style>
/* css for nav menu */
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EC0000;
}

/* css moves text in nav bar to right and changes font */
  li {
  float: right;
  font-family: 'Open Sans', sans-serif;
}

  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* changes nav bar colour when user hovers link */
  li a:hover {
  background-color: #EC5555;
}

/* css for image layout */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* css for jobs table */
  table {
    border-collapse: collapse;
}

/* change table font */
  table, th, td {
    font-family: 'Open Sans', sans-serif;
}
/* adds border to the bottom of each cell in the table */
  th, td{
    border-bottom: 1px solid black;
}
  /* sets font colour in table */
  td{
    color: white;
}
/* css for colour change on table */
   tr:nth-child(even) {background-color: #EC0000;}
   tr:nth-child(odd) {background-color: #EC5555;}


  </style>

<meta charset="utf-8"
</head>
</style>

<body>
<!-- nav bar code  -->
  <ul>
  <li style="margin-right: 200px"><a href="#">About</a></li>
  <li><a href="http://www.leedstrinity.ac.uk/student-life/our-campus/it-services/remoteaccess">Staff & Students</a></li>
  <li><a href="http://www.leedstrinity.ac.uk/student-life/new-students/myltu">myLTU</a></li>
  <li><a class="active" href="#home">Home</a></li>
  </ul>

<!-- -->

<div class="row">
  <div class="column">
    <img src="https://gdurl.com/NsEa" alt="Yorkshire Tech logo" style="width:60%">
  </div>
</div>

  <div style="margin:10px">
    <table>
      <thead>
      <tr>
        <!-- table titles -->
        <th style="width:20%">Job Title</th>
        <th style="width:70%">Job Description</th>
        <th style="width:10%">Job Application Link</th>
      </tr>
    </thead>
    <tbody>
      <!-- code that takes the data pulled from the SQL select  -->
      <!-- 0=title 1=text 2=url -->
    {% for item in output_data %}
    <tr>
      <td>{{item[0]}}</td>
      <td><font size ="2">{{item[1]}}</font></td>
      <!-- style code changes the url text into a hyperlink -->
      <td style="text-align: center"><a href = "{{item[2]}}"> Link</a></td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

</body>

<footer>
  <!-- adds the iniversity logo to the bottom of the page. -->
  <div class="column">
    <img src="http://www.leedstrinity.ac.uk/SiteAssets/trinity-logo.png" alt="LTU logo" style="width:40%" align:"left">
  </div>
</footer>

</html>
