<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/Register Styles.css">
    <title>Transport Dashboard Registration</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leeds Trinity Transport Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/main.css">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="main.js"></script>


    <!-- ask Mo why this isnt in the style sheet-->
    <style>

        .ad {
            position: absolute;
            width: 300px;
            height: 250px;
            border: 1px solid #ddd;
            left: 50%;
            transform: translateX(-50%);
            top: 250px;
            z-index: 10;
        }

            .ad .close {
                position: absolute;
                font-family: 'ionicons';
                width: 20px;
                height: 20px;
                color: #fff;
                background-color: #999;
                font-size: 20px;
                left: -20px;
                top: -1px;
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
                text-align: center;
            }
    </style>
    <script type="text/javascript">
        $(function () {
            $('.close').click(function () {
                $('.ad').css('display', 'none');
            })
        })
    </script>


</head>
<body>
    <!--side bar html-->
    <div class="header">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>LTU</span>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="side-nav">
        <div class="logo">
            <span><i class="fa fa-university" aria-hidden="true"></i>LTU Transport Dashboard</span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/dashboard">
                        <span><i class="fa fa-columns" aria-hidden="true"></i></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span><i class="fa fa-user" aria-hidden="true"></i></i></span>
                        <span>User Account</span>
                    </a>
                </li>
                <li class="/survey">
                    <a href="#">
                        <span><i class="fa fa-question-circle" aria-hidden="true"></i></i></span>
                        <span>Survey</span>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <span><i class="fa fa-cog" aria-hidden="true"></i></i></span>
                        <span>Log In</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>




    <!-- form html -->
    {% block content %}
    <div class="center">
        <form action="/poll">
            <input type="checkbox" id="Bike" name="bike" value="1">
            <label for="bike">Bike</label><br>
            <input type="checkbox" id="car" name="car" value="1">
            <label for="Car">Car</label><br>
            <input type="checkbox" id="bus" name="bus" value="1">
            <label for="Bus">Bus</label><br><br>
            <input type="checkbox" id="walk" name="walk" value="1">
            <label for="walk">walk</label><br><br>
            <input type="checkbox" id="train" name="train" value="1">
            <label for="Train">Train</label><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>
        {%endblock%}
</body>
</html>
